.active{
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:white;
    padding: 10px;
}
a:active{
    color: black;
}

a:hover{
    color:black;
}
.navbar{
    justify-content: space-between;
}
span{
    padding-right: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}