<div>
    <form [formGroup]="carmanagement" (ngSubmit)="onupdate()">
    <mat-dialog-content>
    <div class="container-fluid">
        <div class="form-group">
            <label>1. Car Name</label>
            <input type="text" class="form-control" formControlName='carname' required>
            <small class="text-danger">{{carnameerror}}</small>
        </div>
        <br>
        <div class="form-group">
            <label>2. Car Model</label>
            <input type="text" class="form-control" formControlName='carmodel' required>
            <small class="text-danger">{{carmodelerror}}</small>
        </div>
        <br>
        <div class="form-group">
            <label>3. Select Status</label>
                <select class="form-select" aria-label="Default select example" formControlName='status'>
                    <option selected disabled>Open this select menu</option>
                    <option value="active">Active</option>
                    <option value="inactive">inactive</option>
                </select>
                <small class="text-danger">{{statuserror}}</small>
        </div>
        </div>
    </mat-dialog-content>
        <br>
        <div>
            <mat-dialog-actions>
                <button mat-raised-button  color='warn' mat-dialog-close="false">Cancle</button>
                <button mat-raised-button type="submit" color="primary">Update</button>
            </mat-dialog-actions>
        </div>
    </form>
</div>
