div{
   margin: 1%;
}
table {
   width: 100%;
 }
 .orders{
    margin: 1%;;
 }
 .header{
   text-align: center;
}
.header h1{
   margin: 0px;
   margin-top: 1%;
   font-family:Georgia, 'Times New Roman', Times, serif;
}