.button{
    text-align: right;
    margin: 10px;
    padding: 10px;
}
table{
    width: 100%;
    text-align: left;
}
.header{
    text-align: center;
 }
 .header h1{
    margin: 0px;
    margin-top: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }