table {
   min-width: 99%;
   margin: 6px;
   margin-top: 15px;
}
.header{
   text-align: center;
}
.header h1{
   margin: 0px;
   margin-top: 1%;
   font-family:Georgia, 'Times New Roman', Times, serif;
}