input{
    width: 100%;
}
.container-fluid{
    margin: 5% auto;
    border: 1px solid black;
    box-sizing: content-box;
    width: 50%;
    padding: 30px;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
label{
    padding-bottom: 5px;
}

p{
    text-align: center;
    color: green;
}
.header{
    text-align: center;
}
.header h1{
    margin: 0px;
    margin-top: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}