div{
    margin: 1%;
}
.accepted table{
    width: 100%;
}

.inprocess table{
    width: 100%;
}

.completed table{
    width: 100%;
}

.cancled table{
    width: 100%;
}

.header{
    text-align: center;
 }
 .header h1{
    margin: 0px;
    margin-top: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }